.container {
  min-width: 100vh;
  min-height: 100vh;
  position: relative;
  background: #ffffe0;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  max-width: 30%;
  min-width: 35%;
  min-height: 100%;
  margin-left: 50%;
}
.formContainer {
  min-width: 100%;
  min-height: 85vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logoSection {
  position: absolute;
  width: 530px;
  height: 200px;
  margin-left: 3vh;
}

.logo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-google-button {
  color: #000 !important;
}
