.registerContainer {
  width: 100vw;
  min-height: 100vh;
  background: #ffffe0 !important;
  color: #000;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.registerPanel {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  max-width: 35%;
  min-width: 35%;
  min-height: 100%;
  margin-right: 10%;
}
.registerFormContainer {
  min-width: 80%;
  max-width: 80%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.logoSection {
  display: flex;
  margin-left: 20%;
}

.custom-google-button {
  color: #000 !important;
}

@media screen and (max-width: 767px) {
  .css-1vpn6hs-MuiAvatar-root {
    width: 210px;
    height: auto;
  }
  .registerContainer {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .registerPanel {
    min-height: 70vh;
    min-width: 280px;
  }

  .css-5joihi .MuiTextField-root {
    width: 200px !important;
  }
  .registerFormContainer {
    width: 100%;
    min-height: 60%;
  }

  .logoSection {
    display: flex;
    margin: 0 0 10px 0;
  }
}

@media screen and (max-width: 375px) {
  .css-1vpn6hs-MuiAvatar-root {
    width: 110px !important;
    height: auto;
  }
  .registerContainer {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .panel {
    min-height: 400px;
    min-width: 280px;
  }

  .css-1j5xr5u .MuiTextField-root {
    width: 200px !important;
  }
  .registerFormContainer {
    width: 100%;
    min-height: 60%;
  }

  .logoSection {
    display: flex;
    margin: 0 0 10px 0;
  }
}

@media screen and (max-width: 767px) {
  .css-qndp1g-MuiAvatar-root {
    width: 210px;
    height: auto;
  }
  .registerFormContainer {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .panel {
    min-height: 70vh;
    min-width: 380px;
    display: flex;
    justify-content: center;
    margin-right: 0%;
  }

  .css-1j5xr5u .MuiTextField-root {
    width: 200px !important;
  }
  .formContainer {
    width: 100%;
    min-height: 60%;
  }

  .logoSection {
    display: flex;
    margin: 0 0 10px 0;
  }
}

@media screen and (max-width: 905px) {
  form {
    /* background: blue; */
    width: 100%;
    /* width: 290px; */
  }

  .css-1j5xr5u .MuiTextField-root {
    width: 90% !important;
  }
}
@media screen and (max-width: 1190px) {
  .registerFormContainer {
    min-height: 500px;
    min-width: 100%;
  }
}

@media screen and (max-width: 1366px) {
  .registerFormContainer {
    min-height: 500px;
    min-width: 100%;
  }
  .css-pt8k7c-MuiTypography-root {
    font-weight: 500;
    font-size: 16px !important;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }

  .css-1l3idtk-MuiTypography-root {
    font-size: 18px !important;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .css-1f3sn2p-MuiTypography-root {
    font-size: 18px !important;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }

  .css-n8ntx6-MuiTypography-root {
    font-size: 18px !important;
  }
}
