.container {
  width: 100vw;
  min-height: 100vh;
  background: #ffffe0;
  color: #000;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.panel {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  max-width: 35%;
  min-width: 35%;
  min-height: 100%;
  margin-right: 10%;
}
.formContainer {
  max-width: 80%;
  min-width: 80%;
  min-height: 600px;
  max-height: 600px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.logoSection {
  display: flex;
  margin-left: 20%;
}

.custom-google-button {
  color: #000 !important;
}

@media screen and (max-width: 375px) {
  .css-qndp1g-MuiAvatar-root {
    width: 110px !important;
    height: auto;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .panel {
    min-height: 600px !important;
    min-width: 280px !important;
  }

  .css-5joihi .MuiTextField-root {
    width: 200px !important;
  }
  .formContainer {
    width: 100%;
    min-height: 60%;
  }

  .logoSection {
    display: flex;
    margin: 0 0 10px 0;
  }
}
@media screen and (max-width: 414px) {
  .css-qndp1g-MuiAvatar-root {
    width: 110px !important;
    height: auto;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .panel {
    min-height: 600px !important;
    min-width: 280px !important;
  }

  .css-5joihi .MuiTextField-root {
    width: 200px !important;
  }
  .formContainer {
    width: 100%;
    min-height: 60%;
  }

  .logoSection {
    display: flex;
    margin: 0 0 10px 0;
  }
}

@media screen and (max-width: 767px) {
  .css-qndp1g-MuiAvatar-root {
    width: 210px;
    height: auto;
  }
  .container {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .panel {
    min-height: 70vh;
    min-width: 380px;
    display: flex;
    justify-content: center;
    margin-right: 0%;
  }

  .css-5joihi .MuiTextField-root {
    width: 200px !important;
  }
  .formContainer {
    width: 100%;
    min-height: 60%;
  }

  .logoSection {
    display: flex;
    margin: 0 0 10px 0;
  }
}

@media screen and (max-width: 905px) {
  form {
    /* background: blue; */
    width: 100%;
    /* width: 290px; */
  }

  .css-5joihi .MuiTextField-root {
    width: 90% !important;
  }
}
@media screen and (max-width: 1190px) {
  .formContainer {
    min-height: 500px;
    min-width: 100%;
  }
}
@media screen and (max-width: 1366px) {
  .formContainer {
    min-height: 500px;
    min-width: 100%;
  }
}
