/* Reset some default styles */
body {
  margin: 0;
  padding: 0;
}

body > #root > div {
  min-height: 100vh;
}

:root {
  --swiper-theme-color: #33b3cc;
}

:root {
  --swiper-navigation-size: 1.5rem;
}

.leaflet-popup-content-wrapper {
  text-align: center;
}

.leaflet-popup-content {
  font-size: 1rem;
}
