/* .profile_container {
  height: 100%;
  width: 100%;
} */

/* .banner_container {
  min-width: 100%;
  max-height: 30%;
  min-height: 30%;
  background: #000;
} */

/* .user_photo_container {
  min-width: 350px !important;
  min-height: 600px;
  margin-bottom: 20px;
} */

/* .profile_main_grid {
  justify-content: flex-end;
} */

/* .cards_grid_container {
  margin-top: 0 !important;
  padding-top: 0 !important;
} */

@media screen and (max-width: 480px) {
  .profile_second_grid {
    top: 25% !important;
    left: 0% !important;
    padding-left: 0px !important;
    flex-direction: column !important;
  }

  .profile_main_grid {
    justify-content: center !important;
    flex-direction: column;
    margin-left: 0 !important;
  }
  .user_photo_container {
    background: none !important;
    box-shadow: none !important;
  }

  .cards_grid_container {
    max-width: 100% !important;
    margin-top: 500px !important;
    padding-left: 0px !important;
  }
}

@media screen and (max-width: 912px) {
  .profile_second_grid {
    top: 25% !important;
    left: 0% !important;
    padding-left: 0px !important;
    flex-direction: column !important;
    width: inherit;
  }

  .profile_main_grid {
    justify-content: center !important;
    flex-direction: column;
    margin-left: 0 !important;
  }
  .user_photo_container {
    background: none !important;
    box-shadow: none !important;
  }

  .cards_grid_container {
    max-width: 100% !important;
    margin-top: 500px !important;
    padding-left: 0px !important;
  }
}
